body {
  background-color: black;
  background-image: url('../img/background.jpg');
  /* 不平铺 */
  background-repeat: no-repeat;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: small;
  margin: 0px;
}

/* 
      height messes up the headers in the blog in the articles
      it's only appropriate for the top header.
      add a class (new with blog)
      Affects the 3 #header rules for the main header below
      In HTML: add class="top" to main header in index.html and blog.html
  */


.nav {
  /*让nav紧贴浏览器上部*/
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  top: 0;
  height: 50px;
  background-color: #ffffff;
  /*高度塌陷，子元素浮动*/
  overflow: hidden;
}

.nav li {
  float: left;
  /*为每一个li指定一个宽度，虽然效果出来了，可是每一个li
   不具备超连接属性,易用性很差，li是a的父元素，先给父元素一个
   宽度值，再来设置a宽度
  */
  width: 25%;
}

/*当鼠标移入时改变背景颜色*/
.nav a:hover {
  background-color: rgb(143, 45, 45);
}

.nav a {
  /**为a标签指定一个宽度
      a是一个内联元素宽度失效，转为块元素*/
  display: inline-block;
  font-size: 105%;
  width: 100%;
  /*设置文字居中*/
  text-align: center;
  /*设置一个上下内边距*/
  padding: 18px 0;
  height: 50px;
  /*去除下划线*/
  text-decoration: none;
  /*字体颜色设置*/
  color: rgb(0, 0, 0);
  /*字体加粗*/
  font-weight: bold;
}

#sp {
  background-color: rgba(96, 96, 96, 0.4);
  margin-top: 60px;
  margin-left: 10%;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  width: 600px;
  height: 1000px;
  text-align: center;
  float: left;
  padding-bottom: 10px;
}

#sp2 {
  float: left;
  margin-left: 10px;
  background-color: rgba(96, 96, 96, 0.4);
  /* 设置透明度 */
  margin-top: 60px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  height: 1000px;
  width: 40%;
  padding-bottom: 10px;
  font-size: 160%;
}

footer {
  background-color: rgba(96, 96, 96, 0.4);
  color: white;
  text-align: center;
  padding: 15px;
  margin: 10px 10px 10px 10px;
  font-size: 90%;
  clear: both;
  /* 是清除元素的浮动效果。 */
}

blockquote {
  font-style: italic;
}

#table1 {
  border: thin solid black;
  border-collapse: collapse;
  /* 合并表格边框 */
  margin-left: 20px;
  background-color: white;
}

td,
th {
  border: thin dotted gray;
  padding: 5px;
  height: 36px;
  width: 120px;
}

.right {
  text-align: right;
}

h1 {
  font-size: 120%;
  color: white;
}

h2 {
  color: white;
  font-size: 110%;
}

p {
  color: white;
}